<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.customview.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MatrixActivity"/>
        <activity android:name=".MatrixActivity1"/>
        <activity android:name=".PaintActivity"/>
        <activity android:name=".CanvasActivity"/>
        <activity android:name=".AnimatorActivity"/>
        <activity android:name=".EventActivity"/>
        <activity android:name=".ScrollerActivity"/>
        <activity android:name=".TestDragerActivity"/>
        <activity android:name=".coordinatorlayout.CoordinatorActivity"/>
    </application>

</manifest>